.kirk-itemChoice {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
  background: none;
  color: #323438;
  font-size: 18px;
  line-height: 20px;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(221, 221, 221, .4);
  -webkit-touch-callout: none;
  width: 100%;
  font-family: inherit;
}

.mb-l {
  margin-bottom: 16px !important;
}

.kirk-itemChoice-label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.kirk-itemChoice + .kirk-itemChoice::before {
  content: '';
  position: absolute;
  top: -8px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #DDD;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.kirk-itemChoice-right {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: right;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  margin-left: auto;
}

.kirk-itemChoice-rightAddon, .kirk-itemChoice-chevron {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  padding-left: 16px;
}

.kirk-itemChoice .kirk-icon {
  margin-left: auto;
}

.kirk-itemChoice-rightAddon, .kirk-itemChoice-chevron {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  padding-left: 16px;
}
