.date-picker {
  position: absolute;
  z-index: 3;
  right: rem(30px);
  margin-top: rem(80px);
  border-radius: rem(10px);
  box-shadow: rem(1px) rem(1px) rem(81px) rgba(41, 60, 74, 0.18);
}

.MuiTypography-body1 {
  font-size: 0.9rem;
  font-family: "Google Sans", Roboto, Arial, sans-serif !important;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.MuiInputBase-input {
  font-family: "Google Sans", Roboto, Arial, sans-serif !important;
  color: rgba(0, 0, 0, 0.64);
}

.MuiIconButton-root {
    padding: 12px 12px 12px 0 !important;
}

.makeStyles-formControl-2481 {
  margin: 8px 8px 8px 0 !important;
}

.MuiTypography-body2 {
  margin-top: -5px;
  margin-right: -9px;
}
