$primary: #1967d2;
$strength-colors: (
  darkred,
  orangered,
  orange,
  yellowgreen,
  green
);
$strength-gap: 6px;

.password-count {
  bottom: 16px;
  right: 10px;
  font-size: 1rem;
}

.strength-meter {
  position: relative;
  height: 2px;
  background: #ddd;
  border-radius: 2px;
  overflow: hidden;
  margin: 7px 0 12px;

  &:before,
  &:after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 $strength-gap 0;
    position: absolute;
    width: calc(20% + #{$strength-gap});
    z-index: 2;
  }

  &:before {
    left: calc(20% - #{($strength-gap / 2)});
  }

  &:after {
    right: calc(20% - #{($strength-gap / 2)});
  }
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  // border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
  @for $i from 1 through 5 {
    &[data-strength="#{$i - 1}"] {
      width: (20% * $i);
      background: nth($strength-colors, $i);
    }
  }
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #97d2ff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  &:empty {
    display: none;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}

.badge-error {
  color: #fff;
  background-color: #b94a48;

  &:hover {
    background-color: #953b39;
  }
}

.badge-warning {
  background-color: #f89406;

  &:hover {
    background-color: #c67605;
  }
}

.badge-success {
  background-color: #468847;

  &:hover {
    background-color: #356635;
  }
}

.badge-info {
  background-color: #3a87ad;

  &:hover {
    background-color: #2d6987;
  }
}

.badge-inverse {
  background-color: #333333;

  &:hover {
    background-color: #1a1a1a;
  }
}

.mt-2, .my-2 {
  margin-top: .5rem !important;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}
